:root {
  --primary-color: #1f3e6c;
  --menu-color: rebeccapurple;
  --submenu-color: coral;
  --white: #fff;
  --dark: #000000;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
}
