.componentView {
  height: 100vh;
  // background-color: green;
}

.fullView {
  display: flex;
  align-items: center;
  justify-content: center;
}

.disableScroll {
  overflow: hidden;
}

.enableCustomScroll {
  scrollbar-width: 5px; /* This sets the width of the scrollbar track */
  scrollbar-color: #4caf50; /* Optional: This sets the color of the scrollbar thumb */
}
